# Flask configuration
FLASK_SECRET_KEY=your-secret-key

# Keycloak configuration
KEYCLOAK_SERVER_URL=http://localhost:8080/auth/
KEYCLOAK_CLIENT_ID=your-client-id
KEYCLOAK_REALM=your-realm
KEYCLOAK_CLIENT_SECRET=your-client-secret
